<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.help.mp.mapper.UserMapper">
    <update id="addRedFlower">
        UPDATE user SET red_flower_total = red_flower_total + #{amount} WHERE id = #{userId}
    </update>
</mapper>
